body{
    background-color: #15171D;
}

.qq{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.squre{
    border-radius: 25px;
    width:1200px;
    height: 600px;
    background-color: #7775D1;
}

.text-r{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 60px;
}

.text{
    color: white;
    font-size: 50px;
    text-shadow:  5px 5px 5px #000000;
}